/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 0;
}

/* some univarsal classes */
.flex{
    display: flex;
    color: #503217;
}
/* body{
    width: 80%;
    margin: 0 auto;
} */
.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.card-btn{
    background-color: #D3744A;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: white;
}
/* this css for the nav section */
.logo{
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 45px;
    height: 45px;
}
.logo h4{
    font-size: 30px;
    font-weight: 500;
}
.nav-area{
    justify-content: space-between;
    align-items: center;
    background-color: #EEEDE7;
    padding: 20px 10%;
}
/* .nav-potion ul{
    justify-content: space-between;
} */
.nav-potion li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}
.nav-potion li a{
    text-decoration: none;
    color: inherit;
}
.nav-img img{
    margin-right: 20px;
}

/* this css for the hero section */

.banner{
    align-items: center;
    gap: 20%;
    padding: 5% 10%;
    background-color: #E8E6DE;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.banner-left h1{
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 500;
}
#banner-sub-text{
    font-size: 1.2rem;
}
.shop-btn{
    display: flex ;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background-color: #503217;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.shop-btn img {
  width: 20px;
  height: 20px;
}
.shop-btn p {
  margin: 0; /* removes default paragraph margin */
}

/* this css about the category */
.category{
    padding: 5% 10%;
    text-align: center;
    background-color: #EEEDE7;
}
.category-heading{
    font-size: 3rem;
    font-weight: 500;
    color: #503217;
    margin-bottom: 3rem;
}
.category-section{
    justify-content: space-between;
}
.cat-card{
    border: 1px solid #64594b1a;
    border-radius: 20px;
    padding: 20px 50px;
}
.cat-card-head{
    font-size: 1.2rem;
    font-weight: bold;
}
.cat-big-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: start;
    margin-top: 3rem;
}
.cat-big-card{
    background-color: rgb(253, 253, 251);
    padding: 2rem 4rem;
    align-items: center;
    gap: 3rem;
    border-radius: 20px;
}
.big-card-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.big-card-text{
    font-size: 2rem;
}
.cat-big-card-btn{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(85, 84, 84);
    padding: 4px;
}
